// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~@coreui/coreui/scss/coreui";

.container{
    margin-top: 30px;
}

ul.nav li.nav-item a.active{
    color: green;
    font-weight: bold;
}

.no-products{
    margin-top: 100px;
    color: red;
}

#products .card{
    width:100%;
}

.product-img{
    margin-left: 10px;
    margin-right: 10px;
    max-height: 400px
}

.product .meta div{
    width: 100%;
}

.product .meta div.money_format {
    display: inline;
}
